dash==2.9.3
numpy
pandas
scikit_learn
plotly
gunicorn
dash_bootstrap_components
dash_iconify 
dash_mantine_components
dash_bootstrap_templates
plotly.express
plotly.graph_objects
sklearn.preprocessing
sklearn.pipeline
sklearn.cluster
sklearn.preprocessing
sklearn.utils
sklearn.metrics
sklearn.linear_model
sklearn.model_selection
sklearn.metrics
sklearn.preprocessing
sklearn.neighbors
sklearn.model_selection
sklearn.impute
sklearn.compose
matplotlib.pyplot
